@import '~@angular/material/theming';

cp-theme-info-header {
  background-color: map-get($mat-light-theme-background, 'card');
  width: 100%;
}

cp-viewer {
  height: calc(100vh - 234px);
  overflow-y: hidden;
}

mat-spinner {
  margin-top: 70px;
}
