<mat-card fxLayout="column">
  <div class="mat-card-header" fxLayout="column" fxLayoutAlign="center">
    <div class="mat-card-title" fxLayout="column" fxLayoutAlign="center">
      <img [src]="themeInfo.iconSmall | defaultIcon" [alt]="themeInfo.displayName + ' icon'" fxFlexAlign="center"
        class="small-icon">
      <span class="text-fadeout">{{ themeInfo.displayName }}</span>
    </div>
    <div class="mat-card-subtitle" fxLayout="row" fxLayoutAlign="end">
      <span class="text-fadeout" fxFlex>{{ themeInfo.publisherDisplayName }}</span>
      <mat-icon fontSet="mdi" fontIcon="mdi-download"></mat-icon>
      <span>{{ themeInfo.statistics.downloads | installCount:true }}</span>
    </div>
  </div>
  <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="space-between">
    <p class="description" fxFlex>{{ themeInfo.description }}</p>
    <cp-rating [rating]="themeInfo.statistics.averageRating" [ratingCount]="themeInfo.statistics.ratingCount">
    </cp-rating>
  </mat-card-content>
</mat-card>
