<header class="centered-content">
  <div class="header-container" fxLayout="row" fxLayoutAlign="start start">
    <div class="default-icon">
      <ng-container *ngIf="theme.iconDefault">
        <img [src]="theme.iconDefault" [alt]="theme.displayName + ' icon'">
      </ng-container>
    </div>
    <div class="header-content">
      <a [href]="'https://marketplace.visualstudio.com/items?itemName=' + this.theme.id" class="mat-card-title">
        {{ this.theme.displayName }}
      </a>
      <div class="mat-card-subtitle">
        <span><b>{{ this.theme.publisherDisplayName }}</b></span>
        <span class="divider"> | </span>
        <span matTooltip="The number of unique installations, not including updates.">
          {{ theme.installCount | installCount }} installs
        </span>
        <span class="divider"> | </span>
        <mat-icon fontSet="mdi" fontIcon="mdi-download"></mat-icon>
        <span matTooltip="The total number of installs, including updates.">
          {{ theme.downloadsCount | installCount }} downloads
        </span>
        <span class="divider"> | </span>
        <cp-rating [rating]="theme.rating" [ratingCount]="theme.ratingCount"></cp-rating>
        <span>({{ theme.ratingCount }})</span>
      </div>
      <div class="mat-card-content">
        <p>{{ theme.description }}</p>
      </div>
    </div>
  </div>
</header>
